.imageButton {
    
}

.divDoBotao {
    display: flex;
    padding: 50px;
    border: 2px solid green;
    max-width: 36%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.divDoBotao button {
    border: 1px solid green;
    border-radius: 20px;
}

.divDoBotao img {
    width: 20px
}