* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 797px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr .5fr .5fr 50px;
}

.container2 {
    display: grid;
}

#header {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #38ca49;
    color: white;
}

#menu {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    justify-content: center;
    align-items: center;
    background-color: #feda31;
    color: white;
}

.content1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    justify-content: center;
    align-items: center;
    background-color: #ed25bc;
    color: white;
}

#content2 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    align-items: center;
    background-color: #1277d6;
    color: white;
}

#content3 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: white;
}

#image {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    align-items: center;
    background-color: #fc433e;
    color: white;
}

#extra {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    align-items: center;
    background-color: #2afd77;
    color: white;
}

#footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-content: center;
    align-items: center;
    background-color: #af22c6;
    color: white;
}