@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Header */

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #ef843a;
    padding: 18px;
}

header>input {
    display: grid;
    grid-column-start: 5;
    width: 100%;
}

header>h1 {
    font-family: 'Libre Baskerville', serif;
    color: rgb(246, 246, 246);
}

/* Main */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 10px;
    height: 81vh;
}

main>div {
    border: 2px solid green;
    margin: 10px;
    width: 20vw;
    height: 30vh;
}

main>div>img {
    width: 20vw;
    height: 20vh;
}

main>div>a {
    display: grid;
    padding: 25px 10px;
    text-decoration: none;
}

main>div>p {
    padding: 25px 10px;
}

/* Main Video */

.video {
    display: block;
    width: 50vw;
    height: 81vh;
    margin: 0 auto;
    padding: 10px;
}

.video>h2 {
    height: 8vh;
}

.video2 {
    display: block;
    width: 85%;
    /* height: 50%; */
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

#video2 {
    height: 80%;
}

.video2>h2 {
    height: 8vh;
}

/* Footer */

footer {
    display: grid;
    background-color: #ef843a;
    padding: 12px;
    color: white;
    text-align: center;
}

footer>h3 {
    font-family: 'Libre Baskerville', serif;
}